body {
    margin: 10px;
    background-color: black;
    background: url('../images/kidsBack.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.container{
    margin: 0 auto;
    padding: 10px;
    width: 800px;
    height: 500px;
}

.container2{
    margin: 20px auto;
    width: 800px;
    height: 500px;
}