body{
    background-color: #6AA8B1;
}

.settings-box{
    margin-top: 30px;
    background-color: white;
    border-style: solid;
    padding: 30px;
    margin-bottom: 30px;
}

.btn-info{
    float: right;
}

.home-button{
    margin-top: 5px;
    float: right;
    background-color: #6AA8B1;
}

.sign-out {
    margin: 5px;
    float: right;
    background-color: #6AA8B1;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.child-button {
    margin-top: 5px;
    float: right;
    background-color: #6AA8B1;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
}

h4{
    margin-top: 15px;
    margin-bottom: 10px;
}

#logo{
    margin-top: 5px;
}

.heading{
    background-color: white;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;
  }
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }