body {
    margin: 10px;
    background-color: black;
    background: url('../images/happyfamily3.jpg');
    background-repeat: no-repeat;
    background-image: fixed;
    background-size: 100%;
}

/* index page */
.row{
    margin: auto;
}

.nav-link {
    border: none;
    color: white;
}

.col-auto {
    margin: 0;
    padding: 0;
}

#login {
    float: left;
    width: 200px;
}

.btn {
    border: solid 1px black;
}

#left{
    margin-right: auto;
    margin-top: 70px;
    padding: 0;
    background-color: transparent;
}

#right{
    margin-left: auto;
    margin-top: 70px;
    opacity:0.9;
    background-color:white;
    width: 200px;
    height: 450px;
    border: solid 1px black;
}

/* account page */
.name{
    margin-bottom: 10px;
    text-align: center;
}


.row3 button {
    float: right;
    background: transparent;
    border: 0;
    margin: 0 auto;
}

#profile1{
    float: right;
    padding: 0;
    margin-right: 20px;
    border: none;
    width: 175px;
    height: 175px;
}

.kidsBtn {
    background-color: transparent;
    border: solid 1px black;
    width: 500px;
    height: 400px;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }