body {
    margin: 10px;
    background-color: black;
    background: url('../images/happyfamily3.jpg');
    background-repeat: no-repeat;
    background-image: fixed;
    background-size: 100%;
}

.row1 {
    margin-bottom: 20px;
    background-color: transparent;
}

.nav-link {
    border: none;
    color: white;
}

#InputParent1{
    width: 175px;
}

#InputChild1{
    width: 175px;
}

#InputChildAge{
    width: 110px;
}

.col-auto {
    margin: 0;
    padding: 0;
}

.row{
    margin: auto;
}

.row3 button {
    background: transparent;
    border: 0;
    margin: 40px auto;
}

#profile{
    float: right;
    margin-top: 50px;
    padding: 10px;
    border: none;
    width: 200px;
    height: 200px;
}

#profile1{
    float: right;
    margin-top: 52px;
    padding: 10px; 
    margin-left: 10px;
    border: none;
    width: 150px;
    height: 200px;
}

.kidsBtn {
    background-color: transparent;
    border: solid 1px black;
    width: 500px;
    height: 400px;
    
}

#login {
    float: left;
    width: 200px;
}

.btn {
    border: solid 1px black;
}

#left{
    margin-right: auto;
    margin-top: 70px;
    padding: 0;
    background-color: transparent;
}

#right{
    margin-left: auto;
    margin-top: 70px;
    opacity:0.9;
    background-color:white;
    width: 200px;
    height: 400px;
    border: solid 1px black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }